// Importa el archivo base con variables y estilos comunes
@import 'base';

.flex-container {
    display: flex;
    margin: 20px 20px;
}

// Estilos para la barra lateral (nav-izquierda)
.nav-izquierda {
    width: 15%;
    padding: 20px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;

    p {
        font-size: 1.25em;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-borde;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    button {
        width: 100%;
        font-size: 1.25em;
        padding: 25px 20px;
        margin-bottom: 15px;
        background-color: $color-fondo-boton;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #fff;
        }
    }
}

// Estilos para el contenedor principal (container-principal)
.container-principal {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
    justify-content: center;
}

// Estilos para las tarjetas (card)
.card {
    @include sombreado;
    @include estilo-de-texto(1.1em, $color-texto);
    width: auto;
    height: auto;
    border-bottom: 1px solid $color-borde;
    border-right: 1px solid $color-borde;
    padding-bottom: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    img {
        max-width: 100%;
        height: auto;
    }

    h2 {
        margin: 10px 0;
        font-size: 1.1em;
        color: $color-texto;
    }

    p {
        margin: 0;
    }
}